.StepContainer {
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
	box-shadow: 0 5px 20px rgba(31, 47, 70, 0.12);
	padding: 2rem 4rem;
	border-radius: 17px;
	position: relative;
	&:hover {
		.StepDecorative {
			color: var(--color-primary);
		}
	}
	// width: 70%;
}

.StepList {
	list-style: disc;
	margin-top: 1.5rem;
	margin-left: 3rem;
}

.StepItem {
	font-size: 1.6rem;
	font-weight: 400;
	&::marker {
		color: var(--color-primary);
		font-size: 24px;
	}
}

.StepSubheading {
	margin-top: 1rem;
	font-size: 1.6rem;
	font-weight: 500;
}

.StepDecorative {
	position: absolute;
	top: 0;
	right: 2rem;
	font-size: 6.4rem;
	font-weight: 800;
	color: #ffdbdb;
	transition: all 0.3s;
}

.StepArticle {
	font-size: 1.8rem;
	margin-bottom: 4rem;
}
