.Container {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;

	@media only screen and (max-width: 25rem) {
		padding: 4.8rem 0;
	}
}

.Wrapper {
	width: 100%;
	position: relative;
	z-index: 5;
	background-size: cover;
	background-position: right center;
	border-radius: 8px;

	transition: all 0.4s;
	border-radius: 36px;
	@media only screen and (max-width: 56.25rem) {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

.Form {
	width: 80%;
	height: 100%;
	@media only screen and (min-width: 89rem) {
		width: 60%;
	}
	// padding: 4rem;
	// box-shadow: 0 5px 20px rgba(31, 47, 70, 0.12);
}

.PhoneContainer {
	display: contents;
}

.ModalInput {
	background-color: #ced4da;
	width: 100%;
	padding: 1.5rem 3rem;
	border: 3px solid #ced4da;
	border-radius: 12px;
	font-family: var(--font-family-text);
	font-weight: 500;
	font-size: 1.6rem;
	color: #222;
	transition: border 0.3s;
	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	&::placeholder {
		font-family: var(--font-family-text);
		font-weight: 500;
		font-size: 1.6rem;
		color: #585858;
	}

	&:focus {
		border-color: var(--color-primary);
		outline: none;
	}
}
