.ModalInput {
	background-color: #ced4da;
	width: 100%;
	padding: 1.5rem 3rem;
	border: 3px solid #ced4da;
	border-radius: 12px;
	font-family: var(--font-family-text);
	font-weight: 500;
	font-size: 1.6rem;
	color: #222;
	transition: border 0.3s;
	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	&::placeholder {
		font-family: var(--font-family-text);
		font-weight: 500;
		font-size: 1.6rem;
		color: #585858;
	}

	&:focus {
		border-color: var(--color-primary);
		outline: none;
	}
}
