.PrimaryButton {
	background-color: var(--color-primary);
	display: inline-flex;
	align-items: center;
	text-align: center;
	gap: 1rem;
	min-width: 280px;
	height: 55px;
	padding: 3rem 4rem;
	border-radius: 10rem;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 1;
	padding-right: 8rem;
	transition: transform 0.3s ease-out;

	@media only screen and (max-width: 17.5625rem) {
		min-width: 236px;
	}

	& > span {
		margin: 0 auto;
		font-size: 1.6rem;
		font-weight: 600;
		color: var(--color-white);
	}

	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;
	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
			background-color: var(--color-primary);
		}
	}
	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}
}

@keyframes moveInBotton {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
